<div *ngIf="product">
    <h1>cart id {{product.id}}</h1>
    <label for = "name">Name:</label>
    <input type = "text" id = "name" [(ngModel)] = "product.name"/>
    <br />
    <label for = "price">Price:</label>
    <input type = "text" id = "price" [(ngModel)] = "product.price"/>
    <br />
    <label for = "rating">Rating:</label>
    <input type = "text" id = "rating" [(ngModel)] = "product.ratings"/>
    <br />
    <button (click) = "update()">update movie</button>
    <button (click) = "delete()">Delete movie</button>
    <button [ngClass] = "userId ? 'show': 'hide'" (click) = "addCart()">Adopt Pet</button>
</div>
