<nav class="nav">
    <ul>
        <!-- <li>
            <a routerLink="/products">Movies</a>
        </li>
        <li>
            <a routerLink="/add">Add movie</a>
        </li> -->
        <!-- <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
        <li>
            <a routerLink = "/logout">Logout</a>
        </li>
        <li>
            <a routerLink = "/added"> Cart</a>
        </li>
        <li>
            <a routerLink = "/users"> Edit profile</a>
        </li> -->
        <li>
            <a routerLink = "/account"> Account</a>
        </li>
        <li>
            <a routerLink = "/added"> Cart</a>
        </li>
        <li>
            <a routerLink="/add">Add movie</a>
        </li>
        <li>
            <a routerLink="/products">Movies</a>
        </li>
    </ul>
    <br><br><br>
</nav>
<!-- <div class="topnav">
    <a routerLink="/products">View all movies </a>
    <a routerLink="/add">Add movie</a>
    <a routerLink="/added>">Cart</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div> -->
<!-- 
<nav>
    <ul>
        <li>
            <a routerLink="/products">View all movies</a>
        </li>
        <li>
            <a routerLink="/add">Add movie</a>
        </li>
        <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
        <li>
            <a routerLink = "/added">View addedProduct</a>
        </li>
        <li>
            <a routerLink = "/logout">Logout</a>
        </li>
    </ul>
</nav> -->

<!-- <nav class="nav">

    <a routerLink="/products">View all movies</a>

    <a routerLink="/add">Add movie</a>

    <a routerLink = "/login">Login</a>

    <a routerLink = "/register">Register</a>

    <a routerLink = "/added">View addedProduct</a>

    <a routerLink = "/logout">Logout</a>

</nav> -->