<nav>
    <ul>
        <li>
            <a routerLink="/products">View all movies</a>
        </li>
        <li>
            <a routerLink="/add">Add movie</a>
        </li>
        <!-- <li>
            <a routerLink=""></a>
        </li> -->
        <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
        <li>
            <a routerLink = "/added">View addedProduct</a>
        </li>
        <li>
            <a routerLink = "/logout">Logout</a>
        </li>
    </ul>
</nav>